.transaction-item {
  & ~ & {
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid #F5F5F5;
  }

  &__wrapper {
    display: flex;
  }

  &__icon {
    height: 48px;
    width: 48px;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-flow: column;
    &-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &--label{
      color: #222222;
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      flex: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__balance {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;

    &--icon {
      color: #DDDDDD;
      margin-left: 10px;
    }
  }
  &--date {
    flex: 1;
    margin-top: 4px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #AAAAAA;
    min-height: 36px;
  }
  &__actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &--icon {
      width: 24px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFF;
      border-radius: 24px;
      background-color: #325BAF;
      margin-right: 8px;
    }
    &--label {
      font-size: 12px;
      font-weight: 600;
      color: #325BAF;
      line-height: 18px;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}